.App {
  text-align: center;
}

.stock-container {
  margin-top: 2em;
  padding-left: 3em;
  padding-right: 3em;
}

.header {
  align-items: center;
  color: #10375c;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 10vh;
}

.button {
  width: 100%;
  padding: 5px;
  margin-top: 20px;
}

label {
  display: flex;
  margin-bottom: 5px;
}

label div {
  width: 40%;
  text-align: right;
}

label input {
  width: 50%;
}
